/* 
.boxNavBar {
    width: 100%;
    height: 70px;
    background-color: rgb(24, 49, 87);
}
.ordenNavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logoNavBar {
    width: 60px;
    cursor: pointer;
}

.carritoNavBar {
    width: 50px;
    margin-right: 100px;
    margin-top: 10px;
    cursor: pointer;
}

.carritoConCosas{
    position: fixed;
    height: 25px;
    margin-left: -10px;
    margin-top: -20px;
    cursor: pointer;
}

.boxFilters {
    margin-top: 18px;
}

.selectStyle {
    background-color: rgb(24, 49, 87);
    width: 150px;
    height: 30px;
    margin-right: 50px;
    border: none;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
 }

.ordenLoginRegister {
    display: flex;
    margin-top: 18px
}
.styleLogReg {
    margin-right: 40px;
    
    
}
.styleLinkNavBar{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 500;
    font-size: 1rem;
}


.botonParaNada{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.arregloProvisorioNav2 {
    width: 1300px;

}

.sesion {
    position: relative;
} */

.navbar{
    background-color: rgb(24, 49, 87);
}

.navbar-brand{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.link_home{
    text-decoration: none;
}

.styleLinkNavBar{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 500;
    font-size: 1rem;
}

.styleLogReg {
    margin-right: 40px;
}

.selectStyle {
    background-color: rgb(24, 49, 87);
    width: 150px;
    height: 30px;
    margin-right: 50px;
    border: none;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
 }

 .form-select{
     background-color: rgb(24, 49, 87);
     color: white;
     border: none;
     font-style: trebuchet;
    font-weight: 500;
    font-size: 1rem;
 }

 .todo{
    background-color: rgb(24, 49, 87);
    width: 150px;
    height: 30px;
    margin-right: 120px;
    margin-top: 4px;
    border: none;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

 }

 .testttt{
     color: white
 }

 .btn-buscar{
     color: white !important;
     border-color: white !important;
 }

 .carritoNavBar{
     height: 70px;
 }