.contenedorLogin{
    background-color: #f7f5f4;
    height: 92.5vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    display: flex;
    /* align-items: center;
    text-align: center; */
    
}
.imgEnLoginPage{
    width: 13vw;
}
.contImagAndForm{
    display: flex;
    background-color: rgba(23, 49, 87);
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: auto;
}
.illutrationLogin{
    background-image: url('../../assets/Login/LOGIN1.jpg');
    width: 650px;
    height: 600px;
}
.cardLogin{
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: auto;
}
.tituloLogin{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 3rem;
}
.encabezadosInputs{
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.allForm {    
    margin-left: auto;
    margin-right: auto;  
}
.input {
    width: 300px;
    height: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
}
.orderinputContraseña{
    margin-bottom: 10px;
}
.botonesLogin{
    text-align: center;
    margin-top: 30px;
}
.recuperarContrasena{
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 5px;
}
.noEstasRegistrado{
    margin-bottom: 5px;
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}
.button {
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    width: 130px;
    height: 40px;
    background-color: #ef3d52;
    color: white;
    border-radius: 15px;
    transition: 300ms all;
    border: none;
    font-size: larger;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}
.button:hover{
    background-color: #6d6f71;
}
.errosLoigin{
    margin-top: 7px;
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color:  #ced6de;
    max-width: 300px;
    line-height : 17px;
}