.boxCard {
    background-color: #FAFBFD;
    width: 300px;
    height: 380px;
    margin-bottom: 20px;
    margin-left: 150px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    transform-style: preserve-3d;
}
.boxCard:hover{
    transform:scale(1.05)
}
.imageTamaño {
    margin-left: 22px;
    width: 240px;
    height: 240px;
}
.nameCardProd {
    color: rgb(62, 62, 62);
    /* background-color: rgb(32, 155, 149); */
    margin-left: 5px;
    margin-right: auto;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1em;
    line-height : 15px;
}
.priceCardProd {
    color: rgb(28, 28, 28);
    /* background-color: rgb(32, 155, 149); */
    margin-top: 15px;
    margin-left: 90px;
    margin-right: auto;
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 2.5em;
    line-height : 15px;
}
.carritoCards {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

/* CARDS */
.ordenCards {
    text-decoration: none;
    width: 90%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 340px 340px 340px 340px 340px;
}
.sinlineaCountCards {
    text-decoration: none;
}
.categoriasHome {
    position: relative;
    left: 150px;
    margin-top: 50px;
    font-style: Trebuchet;
    font-weight: 700;
    font-size: 1.8em;
    line-height : 15px;
}