.contenedorRegistro{
    background-color: #f7f5f4;
    height: 92.5vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    display: flex;
}
.contImagAndFormR{
    display: flex;
    background-color: rgba(23, 49, 87);
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: auto;
}
.illutrationRegiter{
    background-image: url('../../assets/Login/LOGIN1.jpg');
    width: 650px;
    height: 600px;
}
.cardRegister{
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: auto;
    /* background-color: rgba(245, 245, 243); */
  
}
.contenedorForm{
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: auto;
}
.logoEnLoginPageR{
    position: fixed;
    margin-bottom: auto;
    margin-left: 50px;
    margin-top: 40px;
}
.logoRegister{
    width: 13vw;
}
.encabezadosRegistro{
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.crearCuentaTitulo{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 3rem;
}
.button {
    width: 200px;
    background-color: #ef3d52;
    color: white;
}
.buttonRegistro {
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    width: 130px;
    height: 40px;
    background-color:#ef3d52;
    color: white;
    border-radius: 15px;
    transition: 300ms all;
    border: none;
    font-size: large;
    margin-top: 10px;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}
.buttonRegistro:hover{
    background-color: #6d6f71;
}
.botonRegistro{
    text-align: center;
}
.errosRegistro{
    margin-top: 5px;
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color:  #ced6de;
    max-width: 300px;
    line-height : 17px;
}
