.row_nueva_orden{
  border-bottom: none;
  margin-top: 30px;
  border: solid 2px rgb(0, 0, 0);
  min-height: 400px;
}

.row_nueva_orden_botones{
  border-bottom: none;
  border-left: solid 2px rgb(0, 0, 0);
  border-right: solid 2px rgb(0, 0, 0);
  border-bottom: solid 2px rgb(0, 0, 0);
}


.row_lista_ordenes{
  margin-top: 30px;
  border-bottom: none;
  min-height: 350px;
  background-color: #FAFBFD;
      align-items: center;
      justify-content: space-between;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      transition: transform 0.4s;
      transform-style: preserve-3d;
}
.row_lista_ordenes:hover{
  transform:scale(1.05);
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
}

.row_lista_datos{
  border-bottom: none;
}

.my-super-cool-button {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.my-super-cool-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.my-super-cool-button:active {
	position:relative;
	top:1px;
}
.bottonVolODA {
	position: relative;
	left: 1000px;
	top: 50px;
	background-color: rgb(24, 49, 87);
	border-radius: 10px;
    color: white;
	width: 100px;
    height: 50px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    font-style: Trebuchet;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
}
