.boxViewportDetail {
    background-color: rgb(245, 245, 243)
}
.positionButtonVolverDetai {
    position: relative;
    left: 80vw;
    bottom: 2vw;
    width: 7vw
}
.botonVolverDetail{
    position: relative;
    top: 3vw;
    width: 250px;
    background-color: #701186;
    color: white;
    border-radius: 10px;
    height: 3vw;
    width: 7vw;
    border: none;
    font-style: Trebuchet;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}


.boxDetailProducto {
    position: relative;
    top: 2vw;
    left: 2vw;
    /* //background-color: aquamarine; */
    height: 36vw;
    width: 63vw;
}

.imagenDetailProd {
    height: 25vw;
    width: 24vw;
}

.boxDetailDescription {
    /* //background-color: chocolate; */
    height: 10vw;
}

.boxTablaCaracteristicas {
    position: relative;
    bottom: 35.2vw;
    left: 24vw;
    /* //background-color: chartreuse; */
    width: 39vw;
    height: 25vw;
}
.detailDescripcionName{
    font-style: Trebuchet;
    text-align: left;
    font-weight: 760;
    font-size: 1.3em;
    line-height : 30px;

}
.tituloDetailCaracteristicas {
    position: relative;
    left: 7vw;
    /* //background-color: antiquewhite; */
    width: 25vw;
    font-style: Trebuchet;
    text-align: center;
    font-weight: 760;
    font-size: 1.5em;
    line-height : 30px;
}

/* //tabla */

.boxTablaCarBase {
    background-color: rgb(215, 214, 213);
    margin: 1vw;
    margin-top: 2vw;
    height: 19.3vw;
    width: 37vw;
}
.boxNameMarca {
   background-color:  rgb(181, 180, 180);
   height: 3.2vw;
   width: 9vw;
   font-style: Trebuchet;
   text-align: left;
   font-weight: 600;
   font-size: 1.1em;
   line-height : 30px;
}
/* //para después hay que arreglar unas cosas cuando traiga la info */
.boxContDesModelo {
    background-color:  rgb(118, 118, 118);
}

.boxNameModelo{
    background-color:  rgb(94, 93, 93);
    height: 3.2vw;
    width: 9vw;
    font-style: Trebuchet;
    text-align: left;
    font-weight: 600;
    font-size: 1.1em;
    line-height : 30px;
}
.boxNameDimensiones {
    background-color:  rgb(181, 180, 180);
    height: 3.2vw;
    width: 9vw;
    font-style: Trebuchet;
    text-align: left;
    font-weight: 600;
    font-size: 1.1em;
    line-height : 30px;
 }
 .boxContDesCantidad {
    background-color:  rgb(118, 118, 118);
}

.boxNameCantidad{
    background-color:  rgb(94, 93, 93);
    height: 3.2vw;
    width: 9vw;
    font-style: Trebuchet;
    text-align: left;
    font-weight: 600;
    font-size: 1.1em;
    line-height : 30px;
}
 .boxNameEstado {
    background-color:  rgb(181, 180, 180);
    height: 3.2vw;
    width: 9vw;
    font-style: Trebuchet;
    text-align: left;
    font-weight: 600;
    font-size: 1.1em;
    line-height : 30px;
 }

.boxContDesOtros {
    background-color:  rgb(118, 118, 118);
}

.boxNameOtros{
    background-color:  rgb(94, 93, 93);
    height: 3.2vw;
    width: 9vw;
    font-style: Trebuchet;
    text-align: left;
    font-weight: 600;
    font-size: 1.1em;
    line-height : 30px;
}

/* //PRICEDETAILVISIT */
.boxMacroPrice {
    position: relative;
    bottom: 33vw;
    left: 68vw;
    background-color: rgb(57, 34, 34);
    height: 32vw;
    width: 23vw;
}

.princeNameProd{
    height:8vw;
    background-color: rgb(145, 123, 38);
    font-style: Trebuchet;
    text-align: left;
    font-weight: 600;
    font-size: 2em;
    line-height : 35px;   
}
.princeProd{
    height:3vw;
    /* //background-color: rgb(141, 131, 92); */
    font-style: Trebuchet;
    text-align: center;
    font-weight: 600;
    font-size: 2.4em;
    line-height : 35px;   
}
.princeCuotProd{
    height:2vw;
    /* //background-color: rgb(58, 162, 135); */
    font-style: Trebuchet;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    line-height : 35px;   
}

.boxPriceStock{
    /* //background-color: crimson; */
    height: 3vw;
}
.princeStockName{
    position: relative;
    left: 1vw;
    top: 0.2vw;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.2em;
    line-height : 35px;  
}
.princeStockNumber{
    position: relative;
    bottom: 2.5vw;
    left: 13vw;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 2em;
    line-height : 35px;  
}
.boxPriceCatidad{
    /* //background-color: rgb(120, 20, 220); */
    height: 3vw;
}
.princeCantName{
    position: relative;
    left: 3vw;
    top: 0.2vw;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.2em;
    line-height : 35px;  
}
.princeCantNumber{
    position: relative;
    bottom: 2vw;
    left: 10vw;
    font-style: Trebuchet;
    font-weight: 500;
    font-size: 1.1em;
    border: none; 
}
.princeAdvertencia{
    /* //background-color: chocolate; */
    height: 4vw;
    color: #114d86;
    text-align: center;
    font-style: Trebuchet;
    font-weight: 600;
    font-size: 1.5em;
    line-height : 23px;
}
.botonIncSesDetail{
    position: relative;
    left: 5.5vw;
    width: 250px;
    background-color: #114d86;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    height: 3vw;
    width: 12vw;
    border: none;
    font-style: Trebuchet;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    cursor: pointer;
}
.botonRegistroDetail{
    position: relative;
    left: 5.5vw;
    width: 250px;
    background-color: #114d86;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    height: 3vw;
    width: 12vw;
    border: none;
    font-style: Trebuchet;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    cursor: pointer;
}