.row{
    border-bottom: solid 1px black;
    max-height: 250px;
}

.col{
    max-width: 33.33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagenCarrito{
    max-width: 100%;
    max-height: 200px;
}

.nameEnCarrito{
    margin-top: 5px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.priceEnCarrito{
    font-size: larger;
}

.botonRemover{
    background-color: #183157;
    color: white;
    border: none;
    padding-left: 7px;
    padding-right: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.botonRemover:hover{
    background-color: #6d6f71;
}

.botonAgregar{
    background-color: #183157;
    color: white;
    border: none;
    margin-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.botonAgregar:hover{
    background-color: #6d6f71;
}

.botonEliminar{
    background-color: #183157;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.botonEliminar:hover{
    background-color: #6d6f71;
}

.comprarEsteProducto{
    background-color: #183157;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.comprarEsteProducto:hover{
    background-color: #6d6f71;
}

@media (max-width:640px){
    .nameEnCarrito{
        font-size: x-small;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .priceEnCarrito{
        font-size: xx-small;
    }

    .row{
        border-bottom: solid 1px black;
        max-height: 150px;
    }

    .imagenCarrito{
        max-width: 100%;
        max-height: 100px;
    }

    .botonRemover{
        background-color: #183157;
        color: white;
        border: none;
        font-size: x-small;
        padding-left: 7px;
        padding-right: 7px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .botonRemover:hover{
        background-color: #6d6f71;
    }
    
    .botonAgregar{
        font-size: x-small;
        background-color: #183157;
        color: white;
        border: none;
        margin-right: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .botonAgregar:hover{
        background-color: #6d6f71;
    }
    
    .botonEliminar{
        font-size: x-small;
        margin-top: 5px;
        background-color: #183157;
        color: white;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .botonEliminar:hover{
        background-color: #6d6f71;
    }

    .comprarEsteProducto{
        font-size: xx-small;
        background-color: #183157;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .comprarEsteProducto:hover{
        background-color: #6d6f71;
    }
  }