.contenedorSesionUser{
    background-color: #f7f5f4;
    height: 92.5vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    display: flex;
    /* align-items: center;
    text-align: center; */    
}