.contenedorDetailAdmin{
    background-color: #f7f5f4;
    height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    /* display: flex; */
    /* align-items: center;
    text-align: center; */    
}
.imageDetailAdmin{
    position: relative;
    left: 70px;
    width: 500px;
    height: 500px;
}
.boxDetaiQuePuedoModificar {
    /* background-color: blue; */
    display: flex;
    position: relative;
<<<<<<< HEAD
    top: 60px;
    width: 1700px;
=======
    top: 50px;
    width: 1400px;
>>>>>>> 37c1be16f03da1e9b97dabe7f2bd8df1e8c29e4e
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.imagenProductosOrder{
    position: relative;
    right: 550px;
    bottom:110px
}
.boxNBMCDCO {
    /* background-color: cadetblue; */
    position: relative;
    left: 100px;
    width: 1100px;
    margin-top: auto;
    margin-bottom: auto;
}
.detailProductName{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    font-style: trebuchet;
    text-align: center;
    font-weight: 600;
    font-size: 1.7em;
    /* background-color: yellow; */
    line-height : 30px
}
.editarProdButton{
    position: relative;
    background-color:rgba(23, 49, 87);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    background-color:#114d86;
    color: white;
    border-radius: 10px;
    font-size: large;
    margin-top: 20px;
    left: 730px;
    bottom: 30px;
}
.cajasDetailAdmin {
    position: relative;
    bottom: 25px;
    display: flex;
    /* background-color: aqua; */
}
.namesAllDetailAdmin {
    font-style: Trebuchet;
    margin-left: 15px;
    text-align: left;
    font-weight: 600;
    font-size: 1.2em;
    line-height : 30px
}

.descriptionDetailAdmin{
    margin-left: 10px;
    margin-top: 5px;
    font-style: Trebuchet;
    text-align: left;
    font-weight: 400;
    font-size: 1.2em;
    line-height : 20px;  
}
.descriptionDetailAdminDes{
    margin-left: 15px;
    font-style: Trebuchet;
    text-align: left;
    font-weight: 400;
    font-size: 1em;
    line-height : 20px;  
}
.boxDetaiQueNoPuedoModificar {
    /* background-color: white; */
    display: flex;
    position: relative;
    top: 80px;
    width: 1400px;
    /* height: 200px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 100px; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.cajasDetailAdminD {
    position: relative;
    padding-right: 20px;
    bottom: 25px;
    /* background-color: aqua; */
 }

.divImagenAdmin {
    display: block;
    align-content: center;
}

.divReviews {
    display: flex;
     /* background-color: red; */
     /* align-self: flex-start; */
     width: 50%;
}

.titleR {
    /* align-content: center; */
    /* background-color: red; */
    min-width: 600px;
    max-width: 600px;
    /* margin-left: 250px; */
}

.divTitle {
    display: flex;
}

.titleAR {
    min-width: 600px;
    max-width: 600px;
}

.divAmongReviews {
    /* background-color: blue; */
    /* align-content: flex-end; */
    width: 50%;
    
}

/* .containerR {
    display: flex; 
    background-color: green;
     align-content: space-around;
} */

.divUser {
    max-width: 50%;
    min-width: 50%;
    /* background-color: blue; */
}

.productoR {
    background-color: gray;
    /* height: 100px; */
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}