/* .nav{
    height: 60px;
    background-color: #1c1c1c;  
}

.btn-create{
    position: fixed;
    margin-left: 300px;
    height: 30px;
    margin-top: 14px;
    width: 100px;
    background-color: #6d19bf;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 300ms all;
    border: none;
    border-radius: 10px;
}

.btn-create:hover{
    background-color: #FDB927;
    color: black;
}

.refresh{
    margin-bottom: 15px;
    margin-left: -40px;
    height: 30px;
    margin-top: 12px;
    width: 100px;
    background-color: #6d19bf;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 300ms all;
    border: none;
    border-radius: 10px;
}

.refresh:hover{
    background-color: #FDB927;
    color: black;
}
 .span{
     color: white;
     font-weight: bold;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
     font-size: 15px;
     margin-top: 500px;
     margin-right: 10px;
     margin-left: 15px;
}

.select{
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} */

.div-home{
    min-height: 1000px;
    background-image: radial-gradient(circle at 7% 65.65%, #ff43ff 0, #ff41fa 12.5%, #e53eec 25%, #b337d8 37.5%, #7f2dbd 50%, #4b22a0 62.5%, #071985 75%, #00126d 87.5%, #000358 100%);
}

.btn-create{
    background-color: #6d19bf;
    color: white;
    font-weight: bold;
    transition: 300ms all;
    border: none;
    border-radius: 10px;
}

.btn-create:hover{
    background-color: #FDB927;
    color: black;
}

.nav-div{
    background-color: #1c1c1c;
}

.refresh{
    justify-content: center;
    background-color:  #FDB927; 
    color: black;
    font-weight: bold;
    transition: 300ms all;
    border: none;
    border-radius: 10px;
}

.refresh:hover{
    background-color: #6d19bf;
    color: white;
}

.span{
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    font-size: 20px;
    text-align: center;
}

.dropdown{
    margin-top: 20px;
    color: white;
}
